<div id="footer">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="">Mentions légales</a>
                </li>
                <li>
                    <a href="">Nous contacter</a>
                </li>
            </ul>
        </nav>
        <div>Association loi 1901 - Journal Officiel du 4 Juillet 1998</div>
    </div>
</div>