<div id="logo">
    <div class="container">
        <img src="/images/logo.png" class="left" />
        <div id="title">
            <h1>Les amis de soeur Myriam</h1>
            <div class="desc">Association de soutien aux enfants du vietnam</div>
        </div>
        <img src="/images/logo.png" class="right" />
    </div>
</div>